@use '../abstract/font' as *;
@use '../abstract/color' as *;

body {
    font-family: $primary-font-family;
    color: $font-color-on-background-400;

    h1 {
        font-size: $font-size-primary-heading;
        font-weight: $font-weight-primary-heading;
        line-height: 1.2;
        color: $font-color-on-background-900;
    }

    h2 {
        font-size: $font-size-secondary-heading;
        font-weight: $font-weight-secondary-heading;
        color: $font-color-on-background-900;
    }

    p {
        font-size: $font-size-body;
    }
}