@use '../abstract/color' as *;

.icon {
    aspect-ratio: 1 / 1;
    height: 67px;
}

.facebook, 
.youtube, 
.twitter, 
.pinterest, 
.instagram {
    transition: all 300ms ease-in-out;

    &:hover {
        fill: #40D668;
    }   
}